flask
flask-socketio      
getopts
gymnasium
inputs
ipywidgets
json3
jupyter_core 
jupyterlab 
keras 
lxml
matplotlib
numexpr
numpy
pandas
pickle4
ptpython
pydoc-utils
pynput    
pyopengl 
pytab
pyyaml
scikit-image 
scikit-learn 
scipy
seaborn 
setuptools==67
spacy
statsmodels 
sympy
tensorflow
widgetsnbextension