Flask
Flask-SocketIO
gym
h5py
inputs
ipython
json3
jupyterlab
lxml
matplotlib
pymysql
numpy
pandas
pathlib
pickle4
ptpython
pydoc-utils
pymysql
python-dateutil
SQLAlchemy
scikit-image
scikit-learn
scipy
seaborn
setuptools
spacy
statsmodels
tensorflow