Flask
Flask-SocketIO
gym
h5py
inputs
ipython
json3
lxml
matplotlib
numpy
pandas
pydoc-utils
python-dateutil
ptpython
pymysql
scikit-image
scikit-learn
scipy
seaborn
setuptools
spacy
statsmodels
tensorflow