Pillow
ansible
bert-extractive-summarizer
deel-datasets
ipywidgets
jupyterlab
matplotlib
matplotlib
matplotlib-venn
numexpr
numpy
numpy
pandas
ptpython
scipy
seaborn
sentence-transformers
sklearn
spacy
torch
torchvision 
torchaudio
transformers
widgetsnbextension